#main_div_cart{
    display: flex;
}
#cart_container{
    margin-left:12%;
    padding-top: 5%;
    border: solid;
    flex: 5;
    display: flex;
    height: 700px;
    flex-direction: column;
}
#pricing_div{
    flex: 3;
    border: solid;
}
#cart_container img{
    width: 400px;
}